.todo-conteiner {
    width: 600px;
    margin: 0 auto;}
    @media (max-width: 600px) {
        .todo-conteiner {
            width: 100%;
            padding: 0 15px;
        }
    }
    .input-field {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;}
        .file-path-wrapper {
            width: 80%;}
            .file-path {
                height: 2rem;
                padding: 4px;}                   
    
.todo label{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;}
.todo.completed span {
    text-decoration: line-through;}
.todo i {
    cursor: pointer;}    
.todo {
    margin-bottom: 15px;}

